* {
  box-sizing: border-box;
  
}
body{
	    background-color: #0e2439;
}
.row {
  width: 100%;
}
.row::after {
  content: '';
  clear: both;
  display: block;
}
.row .one-half {
  float: left;
  width: 50%;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  width: 40%;
  min-width: 512px;
  background: #111;
  color: #f2f2f2;
  font-size: 10px;
  font-family: 'Gudea', sans-serif;
}
.container * {
  font-size: 1em;
}
.container .title {
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
}
.container .title h1 {
  font-size: 2.4em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.container .contents .areas {
  float: left;
  width: 60%;
  background: #222;
}
.container .contents .areas .area {
  padding: 1em 2em;
}
.container .contents .areas .area .title {
  text-align: left;
  margin: 0;
  padding: 0.75em 0;
  font-size: 1.5em;
  font-weight: normal;
  color: #888;
}
.container .contents .areas .area .quotient {
  font-size: 2.5em;
}
.container .contents .areas .area .level {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: right;
  position: relative;
  top: 0.77em;
  color: #888;
}
.container .contents .areas .area .bar {
  margin: 1em 0;
  height: 1.25em;
  border-radius: 0.625em;
  background: #000;
  position: relative;
}
.container .contents .areas .area .bar .progress {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #AAA;
  border-radius: 1.25em 0 0 1.25em;
}
.container .contents .areas .active {
  background: #444;
  position: relative;
}
.container .contents .areas .active::after {
  content: '';
  position: absolute;
  top: 0;
  right: -3em;
  width: 1.5em;
  height: 0;
  border-style: solid;
  border-width: 6.25em 0 6.25em 1.5em;
  border-color: transparent;
  border-left-color: #444;
}
.container .contents .details {
  float: left;
  width: 40%;
  text-align: center;
  background: #181818;
}
.container .contents .details .image {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #444;
  margin: 4em;
  border-radius: 50%;
}
.container .contents .details .area-name {
  font-size: 2.4em;
  padding-bottom: 0.5em;
  margin: 0 1em;
  border-bottom: 2px solid #888;
}
.container .contents .details .best-area .title {
  font-size: 2em;
  padding: 0;
  font-weight: normal;
  color: #888;
}
.container .contents .details .best-area .name {
  font-size: 1.5em;
}
